@font-face {
  font-family: 'Gotham Pro Regular';
  src:
    url("../fonts/GothamPro.woff") format("woff"),
    url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src:
    url("../fonts/GothamPro-Bold.woff") format("woff"),
    url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
