* {
  padding: 0;
  margin: 0;
  font-family: Gotham Pro, sans-serif;
}

body {
  min-width: 1170px;
}

.container {
  margin: 0 auto;
  max-width: 1030px;
}

/* Первый блок */

.heading {
  min-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading__nav-wrapper {
  display: flex;
  align-items: center;
}

.heading__logo {
  margin-right: 45px;
}

.navigation__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #000;
  margin-right: 35px;
}

.heading__hamburger-wrapper {
  display: none;
}

.search-form__input {
  height: 20px;
  width: 185px;
  border-bottom: 1px solid #000;
  background-color: #fff;
  display: flex;
  margin-right: 35px;
}

.search-form__text {
  font-weight: 400;
  border: none;
  outline: none;
  width: 316px;
  vertical-align: middle;
  color: #6c6c6c;
  font-size: 14px;
}

.search-form__submit {
  padding-right: 14px;
  width: 14px;
  height: 14px;
  border: none;
  background: url(../icons/search.png) no-repeat 50% 50%;
}

.heading__extras {
  display: flex;
  align-items: center;
}

.heading__signin {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  margin-right: 35px;
}

.heading__cart-wrapper {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.heading__cart-link {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  margin-right: 4px;
}

.heading__cart-img {
  height: 15px;
}

.heading__flag {
  width: 20px;
}

/* Второй блок */

.main__wrapper {
  height: 280px;
  background: url(../img/banner-bg.png);
  margin-bottom: 54px;
}

.main__text-wrapper {
  padding-top: 91px;
  padding-left: 60px;
  max-width: 195px;
}

.main__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 15px;
}

.main__link {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #fff;
}

.main__link::after {
  display: block;
  content: '';
  position: absolute;
  left: 78px;
  bottom: 2px;
  background: url('../icons/arrow.png');
  width: 45px;
  height: 8px;
}

.main__subheader {
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin-bottom: 15px;
}

.main__card-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 26px;
}

.product-card {
  position: relative;
  max-width: 230px;
}

.product-card::after {
  display: block;
  content: '';
  position: absolute;
  left: 215px;
  bottom: 84px;
  width: 1px;
  height: 100px;
  opacity: .2;
  background: #000;
}

.product-card:last-child::after {
  display: none;
}

.product-card__img {
  padding-bottom: 23px;
}

.product-card__discr {
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #000;
  text-align: left;
  padding-bottom: 5px;
}

.product-card__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  color: #000;
}

.product-card__sel {
  width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-card__btn {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: none;
}

.product-card__btn_selected {
  height: 9px;
  width: 9px;
}

.product-card__btn_grey {
  background: #c4c4c4;
}

.product-card__btn_blue {
  background: #41479b;
}

.product-card__btn_red {
  background: #b62e3c;
}

.product-card__btn_yellow {
  background: #fdb431;
}

.product-card__btn_brown {
  background: #762e31;
}

.product-card__btn_orange {
  background: #e29d69;
}

.product-card__btn_black {
  background: #2c2c2c;
}

/* Медиа запросы */

@media (max-width: 1024px) {
  body {
    min-width: 1024px;
  }

  .container {
    max-width: 930px;
  }

  .heading__logo {
    margin-right: 29px;
  }

  .search-form__input {
    margin-right: 32px;
  }

  .heading__signin {
    margin-right: 25px;
  }

  .heading__cart-wrapper {
    margin-right: 27px;
  }

  .main__wrapper {
    margin-bottom: 67px;
  }
}

@media (max-width: 768px) {
  body {
    min-width: 768px;
  }

  .heading__nav-wrapper,
  .heading__extras {
    display: none;
  }

  .heading__hamburger-wrapper {
    width: 100%;
    padding: 40px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  .heading__hamburger span {
    display: block;
    height: 9px;
    width: 60px;
    background-color: #000;
    margin-bottom: 2px;
    transition: .5s all;
  }

  .heading__hamburger:hover span:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }

  .heading__hamburger:hover span:nth-child(2) {
    transform: translateY(1px) rotate(45deg);
  }

  .main__wrapper {
    height: 415px;
    background: url(../img/banner-bg-min.png);
  }

  .main__text-wrapper {
    padding-top: 112px;
    padding-left: 44px;
    max-width: 356px;
  }

  .main__header {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 36px;
  }

  .main__link {
    font-size: 20px;
    line-height: 19px;
  }

  .main__link::after {
    left: 130px;
    bottom: 4px;
    background: url(../icons/Arrow-big.png);
    width: 73px;
    height: 16px;
  }

  .main__subheader {
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .main__card-wrapper {
    padding: 0 70px;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
  }

  .product-card__img {
    min-width: 230px;
  }

  .product-card:nth-child(3),
  .product-card:nth-child(4) {
    display: none;
  }

  .product-card::after {
    display: none;
  }

  .product-card__discr {
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 8px;
  }

  .product-card__price {
    font-size: 25px;
    line-height: 24px;
    padding-right: 52px;
  }

  .product-card__sel {
    width: 95px;
  }

  .product-card__btn {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 375px) {
  body {
    min-width: 375px;
  }

  .heading {
    min-height: 72px;
  }

  .heading__hamburger-wrapper {
    padding: 24px 48px;
  }

  .heading__hamburger-logo {
    width: 104px;
  }

  .heading__hamburger span {
    height: 5px;
    width: 41px;
  }

  .heading__hamburger:hover span:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }

  .heading__hamburger:hover span:nth-child(2) {
    transform: translateY(2px) rotate(45deg);
  }

  .main__wrapper {
    height: 191px;
    background: url(../img/banner-bg-mobile.png);
  }

  .main__text-wrapper {
    padding-top: 62px;
    padding-left: 48px;
    max-width: 206px;
  }

  .main__header {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 9px;
  }

  .main__link {
    font-size: 12px;
    line-height: 11px;
  }

  .main__link::after {
    left: 76px;
    bottom: 3px;
    background: url(../icons/arrow.png);
    width: 44px;
    height: 8px;
  }

  .main__subheader {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 13px;
  }

  .main__card-wrapper {
    padding: 0 46px;
  }

  .product-card__img {
    min-width: 163px;
  }

  .product-card:nth-child(2) {
    display: none;
  }

  .product-card__discr {
    width: 100%;
    font-size: 15px;
    line-height: 14px;
    padding-left: 15px;
    padding-bottom: 4px;
  }

  .product-card__options {
    width: 100%;
  }

  .product-card__price {
    font-size: 20px;
    line-height: 19px;
    padding-left: 15px;
  }

  .product-card__sel {
    width: 75px;
  }

  .product-card__btn {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 320px) {
  .heading__hamburger-wrapper {
    padding: 24px 20px;
  }

  .main__wrapper {
    margin-bottom: 38px;
  }

  .main__text-wrapper {
    padding: 62px 20px;
  }

  .main__card-wrapper {
    padding: 0 20px;
  }

  .product-card {
    min-width: 330px;
  }
}
